<section class="register">
  <form class="register__form" novalidate>
    <h1 class="register__title">Регистрация</h1>
    {{{ emailAuthInput }}}
    {{{ loginAuthInput }}}
    {{{ firstNameAuthInput }}}
    {{{ secondNameAuthInput }}}
    {{{ phoneAuthInput }}}
    {{{ passwordAuthInput }}}
    {{{ password2AuthInput }}}
    {{{ submitButton }}}
    <a class="register__link" href="/">Нет аккаунта?</a>
  </form>
</section>
