<div class="chat {{#if isActive}}chat_active{{/if}}">
  <img class="chat__image" src="{{image}}" alt="Аватар чата"/>
  <div class="chat__message-wrapper">
    <p class="chat__name">{{chatName}}</p>
    <p class="chat__message">{{#if isOwn}}<span class="chat__own-message">Вы: </span>{{/if}}{{lastMessage}}</p>
  </div>
  <div class="chat__time-wrapper">
    <time class="chat__time">{{time}}</time>
    {{#if unreadCount}}
      <p class="chat__counter">{{unreadCount}}</p>
    {{/if}}
  </div>
</div>
