<section class="profile">
  <button class="profile__image-button" type="button">
    <img class="profile__image" src="https://tinyurl.com/hmx3ka4a" alt="Аватар"/>
  </button>
  <h1 class="profile__display-name">Иван</h1>

  <form class="profile__form">
    {{#if editingPassword}}
      <div class="profile__password-inputs-wrapper">
        {{{ oldPasswordProfileInputGroup }}}
        {{{ newPassword1ProfileInputGroup }}}
        {{{ newPassword2ProfileInputGroup }}}
      </div>
    {{else}}
      <div class="profile__data-inputs-wrapper">
        {{{ emailProfileInputGroup }}}
        {{{ loginProfileInputGroup }}}
        {{{ firstNameProfileInputGroup }}}
        {{{ secondNameProfileInputGroup }}}
        {{{ displayNameProfileInputGroup }}}
        {{{ phoneProfileInputGroup }}}
      </div>
    {{/if}}

    {{#if editing}}
      {{{ submitButton }}}
    {{else}}
      <div class="profile__button-wrapper">
        <button class="profile__button profile__button_type_data" type="button">Изменить данные</button>
      </div>
      <div class="profile__button-wrapper">
        <button class="profile__button profile__button_type_password" type="button">Изменить пароль</button>
      </div>
      <a class="profile__button profile__button_type_logout" href="/login.html">Выйти</a>
    {{/if}}
  </form>

  <div class="profile__back">
    <a class="profile__back-arrow" href="/chats.html"></a>
  </div>

  {{{ changeImageModal }}}
</section>
