<section class="profile">
  <button class="profile__image-button" type="button">
    <img class="profile__image" src="{{image}}" alt="Аватар"/>
  </button>
  <h1 class="profile__display-name">{{displayName}}</h1>

  <form class="profile__form" novalidate>
    {{#if editingPassword}}
      <div class="profile__password-inputs-wrapper">
        {{{ oldPasswordProfileInput }}}
        {{{ passwordProfileInput }}}
        {{{ password2ProfileInput }}}
      </div>
    {{else}}
      <div class="profile__data-inputs-wrapper">
        {{{ emailProfileInput }}}
        {{{ loginProfileInput }}}
        {{{ firstNameProfileInput }}}
        {{{ secondNameProfileInput }}}
        {{{ displayNameProfileInput }}}
        {{{ phoneProfileInput }}}
      </div>
    {{/if}}

    {{#if editing}}
      {{{ submitButton }}}
    {{else}}
      <div class="profile__button-wrapper">
        <button class="profile__button profile__button_type_data" type="button">Изменить данные</button>
      </div>
      <div class="profile__button-wrapper">
        <button class="profile__button profile__button_type_password" type="button">Изменить пароль</button>
      </div>
      <button class="profile__button profile__button_type_logout" type="button">Выйти</button>
    {{/if}}
  </form>

  <div class="profile__back">
    <button class="profile__back-arrow" type="button"></button>
  </div>

  {{{ changeImageModal }}}
</section>
