<div class="auth-input-group">
  <label class="auth-input-group__label" for="auth-input-group__input_type_{{name}}">{{placeholder}}</label>
  <input class="auth-input-group__input" id="auth-input-group__input_type_{{name}}"
         type="{{type}}"
         name="{{name}}"
         placeholder="{{placeholder}}"
         minlength="{{minlength}}"
         maxlength="{{maxlength}}"
         {{#if pattern}}pattern="{{pattern}}"{{/if}}
         title="{{errorText}}"
         required
  />
  <span class="auth-input-group__error">{{errorText}}</span>
</div>
